.title{
    background-color: rgb(42, 75, 121);
    color:white;
    
    font-size: 20px;
}
h1{
    font-size: 40px;
}
#information{
    position: relative;
    
}

#image{
    
    display: flex;
    justify-content: space-between;
    
    
}