*{
    margin:0;
    padding: 0;
}
header{
    display: flex;
    align-items: center;
    gap: 10px
}
.content{
    padding-bottom: 10px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#icons{
    margin-top: 10px;
    padding-bottom: 10px;
}

span{
    font-family: sans-serif;
}

.title{
    background-color: rgb(45,115,182);
    width: 100vw;
    color:white;
    font-size: 20px;
    padding-left: 20px;
}

.designation{
    padding-bottom: 20px;
}

h1{
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 40px;
    padding-top: 10px;
}

#information >*{
    padding-right: 10px;
    width: 70vw;
}

#work{
    width: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-right: 10px;
    justify-content: center;
}

#content{
    padding-left: 20px;
}

#com{
    width: 250px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    padding-right: 10px;
    
}

#education{
    width: 250px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    justify-content: center;
}

#image img {
    width: 200px; 
    height: auto; 
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
}

#edu{
    padding-left:20px;
}

#coms{
    padding-left: 20px;
    margin-top: 10px;
}

.job{
    margin-right: 5px;
    padding-right: 20px;
}

.college{
    margin-right: 5px;
    padding-right: 20px;
}

.line{
    border:  #346d9f solid 1px;
    margin-right: 150px;
    margin-top: 0px;
    bottom: 10px;
    width: 100%;
}