*{
  margin:0;
  padding: 0;
  
}

header{
  display: flex;
  
  align-items: center;
  gap: 80px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.title{
  background-color: rgb(30,78,121);
  color:white;
  font-size: 20px;
  padding-left: 0px;
  
}

h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 90px;
}

.designation{
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 40px;
  text-transform: uppercase;
}

p{
  font-size: 14px;
  margin-bottom: 30px;
}

#information >*{
  padding-right: 10px;
  width: 60vw;
  margin-left: 30px;
}

.icons {
  display: flex;
  margin-bottom: 35px;
  gap: 30px;
}
span{
  font-family: sans-serif;
  font-size: 18px;
}


#work{
  width: 250px;
  text-align: center;
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#content{
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
  padding-left: 70px;
}
.left{
  margin-right: 10px;
  margin-left: 25px;
  text-align: right;
}

#com{
  width: 250px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 10px;
}

#education{
  width: 250px;
  text-align: center;
  margin-top: 10px;
  padding-top: 15px;
  padding-bottom: 10px;
}
#edu{
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
  margin-left: 20px;
  padding-left: 70px;
}
.left-section{
  margin-right: 15px;
  text-align: right;
}

#communication{
  margin-top: 30px;
  margin-left: 20px;
  padding-left: 70px;
}

#image {
  margin: 0; 
  padding-top: 10px;
}

#image img {
  max-width: 250px; 
  height: auto; 
  padding-left: 100px;
}

.line{
  border:  #346d9f solid 1px;
  margin-right: 1%;
  margin-top: 0px;
  
}
.content{
  font-size: 25px;
}
p{
  font-size: 20px;
}
b{
  font-size: 20px;
}